{% extends "layout.html" %}
{% block body %}
<!--작성된 게시글을 모두 보여주는 곳  -->
<h1>{{post.id}}번 째 글!!!</h1>
<p>제목 : {{post.title}}</p>
<p>내용 : {{post.content}}</p>
<p>작성시간 : {{post.created_at}}</p>
<hr>
<!--<form action="/comment" method="POST">-->
<!--    <input type ="text"  name ="content">-->
<!--    <input type ="hidden" name= post_id value="{{post.id}}">-->
<!--    <input type="submit" value="뿅!">-->
<!--</form>-->

<form action="/posts/{{post.id}}/comment" method="POST">
    <input type="text" name="content">
    <input type="submit">
</form>
{% for comment in post.comments %}
<p>{{comment.content}}</p>
<p>{{comment.created_at}}</p>
{% endfor%}

{% endblock %}